<div class='form-group'>
    <button ng-click='addAbility()' class='btn btn-primary'>{{buttonText}}</button>
</div>
<ul class='list-unstyled'>
    <li ng-repeat='ability in mapping | orderBy:title' class='sprite {{ability.cssClass}} abilityIcon active' title='{{ability.title}}'></li>
</ul>
<div id='ability_popup' class='popup' ng-if='popupShow'>
    <div class='form-group'>
        <input type='text' class='form-control' ng-model='abilitySearch' />
    </div>
    <div class='abilityArea'>
        <div ng-repeat='character in ability | filter:{title:abilitySearch}' class='sprite {{character.cssClass}} abilityIcon' ng-class='active(character._id)' title='{{character.title}}' ng-click='modify(character)'></div>
    </div>
    <div class='form-group form-inline'>
        <button ng-click='clear()' class='btn btn-primary'>clear</button>
        <button ng-click='addAbility()' class='btn btn-primary'>Apply</button>
    </div>
</div>
