<div class='row' style="width:720px;">
    <div class='col-xs-6'>
        <div class='btn-group form-group'>
            <button class='btn btn-primary' ng-class='modeActiveClass("mode",0)' ng-click='changeMode(0)'>Banner</button>
            <button class='btn btn-primary' ng-class='modeActiveClass("mode",1)' ng-click='changeMode(1)'>thumb</button>
        </div>
        <div class='form-group'>
            <input type="file" id="thumbImgFile">
        </div>
        <div id="editArea"></div>
        <div id="displayArea"></div>
        <div class='btn-group form-group' ng-if='mode==0'>
            <button class='btn btn-primary' ng-click='changeTitleMode(0)' ng-class='modeActiveClass("title",0)'>Mode A</button>
            <button class='btn btn-primary' ng-click='changeTitleMode(1)' ng-class='modeActiveClass("title",1)'>Mode B</button>
            <button class='btn btn-primary' ng-click='changeTitleMode(2)' ng-class='modeActiveClass("title",2)'>Mode C</button>
        </div>
    </div>
    <div class='col-xs-6'>
        <div class='btn-group form-group'>
            <button class='btn btn-primary' ng-click='capture()'>Caputre {{modeTitle}}</button>
        </div>
        <div ng-show='tempBanner' class='clearfix form-group'>
            <div class='pull-left' id='actorBanner'></div>
            <button class='btn btn-danger pull-right' ng-click='cancel(0)'><i class="fa fa-times"></i></button>
        </div>
        <div ng-if='currentActor.showImg.banner' class='form-group'>
            <img ng-src="{{currentActor.showImg.banner}}"> <kbd>Old</kbd>
        </div>
        <div ng-show='tempThumb' class='clearfix form-group'>
            <div class='pull-left' id='actorthumb'></div>
            <button class='btn btn-danger pull-right' ng-click='cancel(1)'><i class="fa fa-times"></i></button>
        </div>
          <div ng-if='currentActor.showImg.thumb' class='form-group'>
            <img ng-src="{{currentActor.showImg.thumb}}"> <kbd>Old</kbd>
        </div>
        <hr>
        <div class='btn-group form-group'>
            <button class='btn btn-primary' ng-click='apply()'>Apply</button>
        </div>
    </div>
</div>
