<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>army list</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.9/angular-mocks.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/default.css">
</head>

<body ng-app="myApp">
    <div class="container-fluid row" ng-controller="main" id="wrap">
        <div class="row">
            <div class="col-xs-4 " id="choice_product">
                <div class="row">
                    <div class="col-xs-12">
                        <select ng-model="series.default_value" ng-change="seriesSelect()" ng-options="sel.title for sel in series.data track by sel._id">
                            <option value="">--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <select ng-model="faction.default_value" ng-options="sel.title for sel in faction.data track by sel._id">
                            <option value="">--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <select ng-model="category.default_value" ng-options="sel.title for sel in category.data track by sel._id">
                            <option value="">--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" ng-model="keyword">
                    </div>
                    <div class="col-xs-4">
                        <button ng-click="search()">search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button ng-click="dataDisplayBtn.changeType('imgList')" ng-disabled="dataDisplayBtn.displayBtn.imgList">img list</button>
                    </div>
                    <div class="col-xs-6">
                        <button ng-click="dataDisplayBtn.changeType('dataList')" ng-disabled="dataDisplayBtn.displayBtn.dataList">data list</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
            </div>
        </div>
        <div class="row">
            <ul id="product_list" product-list ng-show="dataDisplayBtn.displayArea.imgList">
            </ul>
            <ul id="product_list" product-list-data ng-show="dataDisplayBtn.displayArea.dataList">
            </ul>
        </div>
        <div ng-click="testa()">bbbbbbbbb</div>
    </div>
    <script>
    var app = angular.module('myApp', []);

    app.controller('main', function($scope, $http) {

        var pageshow = 10;
        var currentPage = 0;

        $scope.returnArmy = [];

        $scope.dataDisplayBtn = {
            displayType: 0, //0:img , 1:data
            displayBtn: {
                imgList: true,
                dataList: false
            },
            displayArea: {
                imgList: true,
                dataList: false,
            },
            changeType: function(_current) {

                for (var key in this.displayBtn) {
                    if (key == _current) {
                        this.displayBtn[key] = true;
                        this.displayArea[key] = true;
                    } else {
                        this.displayBtn[key] = false;
                        this.displayArea[key] = false;
                    }
                }


            }
        };


        $scope.search = function() {

            var _series_id = ($scope.series.default_value == null) ? null : $scope.series.default_value._id;
            var _faction_id = ($scope.faction.default_value == null) ? null : $scope.faction.default_value._id;
            var _category_id = ($scope.category.default_value == null) ? null : $scope.category.default_value._id;
            var _keyword = ($scope.keyword == "undefined") ? null : $scope.keyword;
            //var _keyword= ''
            $http.post("getData", {
                type: "search",
                series: _series_id,
                faction: _faction_id,
                category: _category_id,
                keyword: _keyword,
                pageshow: pageshow,
                currentPage: currentPage
            }).then(function(response) {

                $scope.returnArmy = response.data;


            })

        }


        /*
                $scope.changePoint = function(score) {
                    console.log(score);
                }*/

        $http.post("getData", {
            type: "series"
        }).success(function(response) {
            $scope.series = {
                data: response,
                default_value: null
            }

            $scope.faction = {
                data: null,
                default_value: null
            }


            $scope.category = {
                data: null,
                default_value: null
            }

            $scope.seriesSelect = function() {

                if ($scope.series.default_value != null) {

                    $http.post("getData", {
                        type: "faction",
                        id: $scope.series.default_value._id
                    }).success(function(response) {
                        $scope.faction = {
                            data: response,
                            default_value: null
                        }
                    })

                    $http.post("getData", {
                        type: "category",
                        id: $scope.series.default_value._id
                    }).success(function(response) {
                        $scope.category = {
                            data: response,
                            default_value: null
                        }
                    })
                }
            }



        });


    })

    app.directive('imageonload', function($compile) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                element.bind('error', function() {
                    console.log("err");
                    var html = '<div class="no_img">I should not be red</div>';
                    var e = $compile(html)(scope);
                    element.replaceWith(e);
                });
            }
        };
    });

    app.directive('productList', ["$compile","dataTemplates",function($compile,dataTemplates) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                /* console.log(scope);
                 element.html(_u[0]);
                 $compile(element.contents())(scope);*/
            },
            template: dataTemplates.imgList
        }


    }])

    app.directive('productListData', ["$compile","dataTemplates",function($compile,dataTemplates) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                /* console.log(scope);
                 element.html(_u[0]);
                 $compile(element.contents())(scope);*/
            },
            template: dataTemplates.dataList
        }


    }])

    app.factory('dataTemplates',function(){

        return {
            imgList:"<li class='col-xs-2' ng-repeat='value in returnArmy'><img ng-src='http://privateerpress.com/files/imagecache/3up_square/products/{{value.img}}' alt='' imageonload><h4>{{value.title}}</h4></li>",
            dataList:"<li class='col-xs-12 row' ng-repeat='value in returnArmy'><div class='col-xs-2'><img ng-src = 'http://privateerpress.com/files/imagecache/3up_square/products/{{value.img}}' alt = '' imageonload></div><h4 class='col-xs-10'>{{value.title}}</h4></li>"
        }
    })
    </script>
</body>

</html>
