<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>army list</title>
    <script data-main="js/main.js" src='js/lib/require.js'></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/default.css">
    <!-- d3 radar -->
    <link rel="stylesheet" href="js/lib/radar-chart-d3-master/src/radar-chart.css">
    <!-- icons -->
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/flag.css">
</head>

<body ng-controller="mainCtrl as mCtrl">
    <div id="navi">
        <ul class="center-block list-inline">
            <li>
                <button class="btn btn-default" ng-click="mCtrl.go('/')">Product</button>
            </li>
            <li>
                <button class="btn btn-default" ng-click="mCtrl.go('/compare')">Item compare</button>
            </li>
            <li>
                <button class="btn btn-default" ng-click="mCtrl.go('/statistic')">Statistic</button>
            </li>
            <li>
                <button class="btn btn-default" ng-click="mCtrl.go('/cards')">Cards</button>
            </li>
            <li>
                <button class="btn btn-default" ng-click="mCtrl.go('/lab')">Lab</button>
            </li>
            <br clear="all">
        </ul>
    </div>
    <div class="center-block container-fluid" id="wrap">
        <div ng-view id="templateView"></div>
    </div>
    <div id="msg" msg class="zipper" ng-if='msg.show'></div>
  
    

    <div lightBox></div>
    {{a}}
</body>

</html>
