<!DOCTYPE html>
<html>

<head>
    <title>Hello World, AngularJS - ViralPatel.net</title>
    <link rel="shortcut icon" type="image/png" href="js/jasmine-2.3.4/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="js/jasmine-2.3.4/jasmine.css">
    <script type="text/javascript" src="js/jasmine-2.3.4/jasmine.js"></script>
    <script type="text/javascript" src="js/jasmine-2.3.4/jasmine-html.js"></script>
    <script type="text/javascript" src="js/jasmine-2.3.4/boot.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.9/angular-mocks.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="main">
        <h1>Total Score:{{point.p}}</h1>
        <select ng-change="changePoint(tttt)" ng-model="tttt" ng-options="xxa.label for xxa in pointRange track by xxa.id">
        </select>
        <div>
            <p>
                <select ng-model="series.default_value" ng-change="seriesSelect()" ng-options="sel.title for sel in series.data track by sel._id">
                    <option value="">--</option>
                </select>
                <select ng-model="faction.default_value" ng-options="sel.title for sel in faction.data track by sel._id">
                    <option value="">--</option>
                </select>
                <select ng-model="category.default_value" ng-options="sel.title for sel in category.data track by sel._id">
                    <option value="">--</option>
                </select>
            </p>
            <input type="text" ng-model="keyword">
            <button ng-click="search()">search</button>
        </div>
        <div>
            <ul>
                <li ng-repeat="value in returnArmy">
                    {{value.title}}
                </li>
            </ul>
        </div>
        <ul>
            <li ng-repeat="(key,value) in army">
                <h1>{{key}}</h1>
                <ul>
                    <li choice ng-repeat="tt in value" aa nid="{{tt.id}}">{{tt.name}}</li>
                </ul>
            </li>
        </ul>
        <hr>
        <ul>
            <li ng-repeat="list in displayArmy">
                <h4 remove hashid="{{list.$$hashKey}}">{{list.name}}</h4>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    var app = angular.module('myApp', []);
    var originArmy = '';

    var pageshow = 10;
    var currentPage = 0;


    app.controller('main', function($scope, $http) {

        // $scope.pointRange = [15, 25, 35, 50];

        $scope.pointRange = [{
            id: 1,
            label: '15'
        }, {
            id: 2,
            label: '25'
        }, {
            id: 3,
            label: '35'
        }, {
            id: 4,
            label: '50'
        }];

        $scope.tttt = $scope.pointRange[0];


        $scope.changePoint = function(aa) {
            console.log(aa);
        }

        $scope.displayArmy = [];
        $scope.point = {
            p: 0
        };

        $http.get("army.json").success(function(response) {
            originArmy = response;
            $scope.army = originArmy;
        });


        $scope.search = function() {

            var _series_id = ($scope.series.default_value == null) ? null : $scope.series.default_value._id;
            var _faction_id = ($scope.faction.default_value == null) ? null : $scope.faction.default_value._id;
            var _category_id = ($scope.category.default_value == null) ? null : $scope.category.default_value._id;
            var _keyword = ($scope.keyword == "undefined") ? null : $scope.keyword;

            $http.post("getData", {
                type: "search",
                series: _series_id,
                faction: _faction_id,
                category: _category_id,
                keyword: _keyword,
                pageshow: pageshow,
                currentPage: currentPage
            }).success(function(response) {
                $scope.returnArmy = response;
            })

        }


        /*
                $scope.changePoint = function(score) {
                    console.log(score);
                }*/

        $http.post("getData", {
            type: "series"
        }).success(function(response) {
            $scope.series = {
                data: response,
                default_value: null
            }

            $scope.faction = {
                data: null,
                default_value: null
            }


            $scope.category = {
                data: null,
                default_value: null
            }

            $scope.seriesSelect = function() {

                if ($scope.series.default_value != null) {

                    $http.post("getData", {
                        type: "faction",
                        id: $scope.series.default_value._id
                    }).success(function(response) {
                        $scope.faction = {
                            data: response,
                            default_value: null
                        }
                    })

                    $http.post("getData", {
                        type: "category",
                        id: $scope.series.default_value._id
                    }).success(function(response) {
                        $scope.category = {
                            data: response,
                            default_value: null
                        }
                    })
                }
            }



        });

    })

    app.directive('choice', function() {

        function process(scope, element, attr) {

            element.bind("click", function() {

                var _c = findCharacterById(attr.nid, originArmy);

                switch (_c.fa) {
                    case "c":

                        if (checkHas(attr.nid, scope.displayArmy) == 0) {
                            scope.displayArmy.push(angular.copy(_c));
                        }

                        break;

                    case "u":
                        scope.displayArmy.push(angular.copy(_c));
                        break;

                    default:

                        if (typeof(_c.fa) == "number") {
                            if (checkHas(attr.nid, scope.displayArmy) < _c.fa) {
                                scope.displayArmy.push(angular.copy(_c));
                            }
                        }
                }


                var _score = scoreCounter(scope.displayArmy);
                scope.point.p = _score.total_point + "/" + (parseInt(scope.tttt.label) + parseInt(_score.extra_point));



                scope.$apply();


                //   console.log(scope.displayArmy);

                //this.unbind('click');

            }.bind(element));

        }


        return {
            link: process
        }
    })

    app.directive('remove', function() {
        function process(scope, element, attr) {
            element.bind("click", function() {



                for (var i = 0; i < scope.displayArmy.length; i++) {
                    if (scope.displayArmy[i].$$hashKey == attr.hashid) {
                        scope.displayArmy.splice(i, 1);
                        break;
                    }
                }

                var _score = scoreCounter(scope.displayArmy);
                scope.point.p = _score.total_point + "/" + (parseInt(scope.tttt.label) + parseInt(_score.extra_point));

                scope.$apply();

            }.bind(element));
        }

        return {
            link: process
        }
    })


    function findCharacterById(_id, _obj) {
        var _match = false;
        for (var _key in _obj) {
            for (var i = 0; i < _obj[_key].length; i++) {
                if (_obj[_key][i].id == _id) {
                    _match = true;
                    return _obj[_key][i];
                    break;
                }
            }

            if (_match) {
                break;
            }
        }
    }

    function checkHas(_id, _arr) {
        _c = 0;
        for (var i = 0; i < _arr.length; i++) {
            if (_arr[i].id == _id) {
                _c++;
            }
        }

        return _c;
    }

    function scoreCounter(_arr) {
        var _total_point = 0,
            _extra_point = 0;
        for (var i = 0; i < _arr.length; i++) {
            _total_point += _arr[i].pc;
            _extra_point += _arr[i].wp
        }

        return {
            total_point: _total_point,
            extra_point: _extra_point,
        }

    }
    </script>
</body>

</html>
