/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

#wrap {
  width: 1024px;
}

#choice_product {
  /*  > .row {
      padding-bottom: 1em;
  }
  select,
  input,
  button {
      width: 100%;
      display: block;
  }*/
}

#templateView {
  position: relative;
}

#radar .radar-chart {
  padding: 20px;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

#itemCompare h5 {
  margin-bottom: 2em;
}
#itemCompare .small_radar .radar-chart {
  padding: 10px;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  display: block;
  margin-top: -20px;
}
#itemCompare #compare_radar .radar-chart {
  padding: 20px;
  width: 370px;
  height: 400px;
  margin: 0 auto;
  display: block;
}
#itemCompare .selectedItem {
  margin-bottom: 2em;
  overflow: hidden;
}

#product_list li {
  margin-bottom: 0.5em;
}
#product_list li i {
  display: none;
}
#product_list img {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  cursor: pointer;
}
#product_list h5 {
  height: 2em;
  overflow: hidden;
}
#product_list .no_img {
  display: block;
  width: 130px;
  height: 130px;
  margin-bottom: 0.5em;
}
#product_list .selectOn .imgArea {
  position: relative;
}
#product_list .selectOn .imgArea.hasSelected > img {
  border: 3px solid green;
}
#product_list .selectOn .imgArea.hasSelected > i {
  color: green;
}
#product_list .selectOn .imgArea > i {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  right: 25px;
  display: block;
  color: #aaa;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show_inline {
  display: inline-block;
}

.w80 {
  width: 80px !important;
  display: inline-block !important;
}

.shortField {
  width: 17% !important;
  display: inline-block !important;
}

button > .fa {
  margin-right: 0.4em;
}

.germany {
  display: block;
}

.germanyss {
  display: none;
}

#navi {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWFhYWFhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -webkit-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc, #aaaaaa);
  margin-bottom: 20px;
}
#navi > ul {
  width: 1024px;
  padding: 1em 0;
}
#navi > ul > li {
  float: left;
  margin-right: 10px;
}

.highlightedText {
  background: yellow;
}

#popup_search {
  width: 100%;
  padding: 15px;
  position: absolute;
  z-index: 999;
  background: #FFF;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: rgba(0, 0, 255, 0.2) 0 0 25px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.2) 0 0 25px;
  box-shadow: rgba(0, 0, 255, 0.2) 0 0 25px;
  min-height: 630px;
}

#thumb_img {
  width: 195px;
  height: 195px;
  overflow: hidden;
  position: relative;
}
#thumb_img > img {
  position: absolute;
}

.thumbGroup {
  clear: both;
  position: relative;
}
.thumbGroup > div {
  position: absolute;
  bottom: 5px;
  left: 330px;
}

.thumbImg {
  width: 100px;
  height: 100px;
  display: block;
  border: 1px solid #999;
  margin-bottom: 0.5em;
}

.thumbEditArea {
  position: relative;
}
.thumbEditArea .editPopup {
  position: absolute;
  top: 0px;
  left: -330px;
  background: #999;
}

#msg {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
#msg > p {
  margin: 0;
  padding: 0.5em 1em;
}

.zipper.ng-enter {
  transition: 0.5s ease-in all;
  opacity: 0;
  transform: translate(100%, 0);
}

.zipper.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.zipper.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}

.zipper.ng-leave.ng-leave-active {
  opacity: 0;
}
