/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  box-sizing: border-box;
}

#wrap {
  width: 1024px;
}

#choice_product {
  /*  > .row {
      padding-bottom: 1em;
  }
  select,
  input,
  button {
      width: 100%;
      display: block;
  }*/
}

.radar-chart {
  padding: 20px;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

#product_list li {
  margin-bottom: 0.5em;
}
#product_list li i {
  display: none;
}
#product_list img {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  cursor: pointer;
}
#product_list h5 {
  height: 2em;
  overflow: hidden;
}
#product_list .no_img {
  display: block;
  width: 130px;
  height: 130px;
  margin-bottom: 0.5em;
}
#product_list .selectOn .imgArea {
  position: relative;
}
#product_list .selectOn .imgArea.hasSelected > img {
  border: 3px solid green;
}
#product_list .selectOn .imgArea.hasSelected > i {
  color: green;
}
#product_list .selectOn .imgArea > i {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  right: 25px;
  display: block;
  color: #aaa;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show_inline {
  display: inline-block;
}

.w80 {
  width: 100px !important;
  display: inline-block !important;
}

button > .fa {
  margin-right: 0.4em;
}

.germany {
  display: block;
}

.germanyss {
  display: none;
}

#navi {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc, #aaaaaa);
  margin-bottom: 20px;
}
#navi > ul {
  width: 1024px;
  padding: 1em 0;
}
#navi > ul > li {
  float: left;
  margin-right: 10px;
}

.highlightedText {
  background: yellow;
}

#popup_search {
  position: absolute;
  z-index: 999;
}
