<div id="popup_search" class="row" ng-controller="searchController as search" ng-show='compare.popupShow'>
    <div class='col-xs-4' ng-include="search.searchTemplateUrl"></div>
    <div class='col-xs-4' ng-include="search.resultTemplateUrl"></div>
    <div class='col-xs-4' id='compareSearchArea'>
        <div class="flag {{compare.getFlagName(compare.selctedCard.faction)}}" ng-if="compare.selctedCard.faction"></div>
        <h3>{{compare.selctedCard.title}}</h3>
        <div ng-repeat="actor in compare.selctedCard.actor" class='compareSearchList'>
            <div class="compareSearchImg pull-left " ng-click="compare.selectItem(compare.selctedCard,$index)">
                <img ng-src="products/actor_banner/{{actor.img.banner}}" alt="">
                <i class="fa fa-square-o fa-4" ng-if="!actor.selected"></i>
                <i class="fa fa-check-square-o fa-2" ng-if="actor.selected"></i>
            </div>
            <div class='clearfix'></div>
        </div>
        <hr ng-if='compare.compareBox.length > 0'>
        <ul id="compareSelectedItem" class='list-unstyled'>
            <li ng-repeat="item in compare.compareBox">
                <img ng-src="products/actor_banner/{{item.card.actor[item.actorIndex].img.banner}}" alt="">
                <i class="fa fa-times" ng-click='compare.removeCompareItem(item)'></i>
            </li>
        </ul>
        <div class='form-group'>
            <button class='btn btn-primary btn-block' ng-click='compare.compareStart()'>Compare</button>
        </div>
    </div>
</div>
<div class="row form-group">
    <button class="btn btn-primary" ng-click="compare.openSearchPanel()">search</button>
</div>
<div class="row">
    <div id="itemCompare">
        <div class="selectedItem">
            <div class='col-xs-4' ng-repeat='val in compare.compareBox'>
                <div>{{val.card.title}}</div>
                <h4>{{val.card.actor[val.actorIndex].title}}</h4>
                <div class='imgArea pull-left thumbImg'>
                    <img ng-src="products/actor_thumb/{{val.card.actor[val.actorIndex].img.thumb}}" alt="">
                </div>
                <div small-radar status="val.card.actor[val.actorIndex].status" class="pull-right small_radar"></div>
            </div>
        </div>
        <hr style="clear:both">
        <div id="compareArea">
            <div class='col-xs-7'>
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td ng-repeat='val in compare.compareBox' ng-style='compare.colWidth()'>{{val.card.title}}
                                <h4>{{val.card.actor[val.actorIndex].title}}</h4></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='_val in compare.s.cardStatusFields'>
                            <td>{{_val | uppercase}}</td>
                            <td ng-repeat='actor in compare.compareBox' ng-class="compare.bestValueStyle($index,_val)">{{actor.card.actor[actor.actorIndex].status[_val]}}</td>
                        </tr>
                        <tr>
                            <td>Life</td>
                            <td ng-repeat='actor in compare.compareBox'  ng-class="compare.bestValueStyle($index,'life')">{{actor.card.actor[actor.actorIndex].hp.count}}</td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td ng-repeat='actor in compare.compareBox'>{{actor.card.pc.min.cost}}</td>
                        </tr>
                        <tr>
                            <td>Ability</td>
                            <td ng-repeat='actor in compare.compareBox'>
                                <span ng-repeat="ability in actor.card.actor[actor.actorIndex].characterAbility" ng-class='compare.getAbilityIcon(ability)'></span>
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-xs-5'>
                <div compare-radar id="compare_radar" selected="compare.compareBox"></div>
            </div>
        </div>
    </div>
</div>
