/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
$sideWidth:260px;
$navHeight:70px;
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin-top: $navHeight+20px;
}

#wrapper {
    padding-left: $sideWidth;
}

#container {
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    top: 0;
    left: 0;
    z-index: 200;
    position: fixed;
    width: 100%;
    // @include background-image(linear-gradient(white, #cccccc, #aaaaaa));
    background-color: #333;
    margin-bottom: 20px;
    height: $navHeight;
    border-bottom: 2px solid #ffa500;
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.nav-side {
    position: fixed;
    left: 0;
    width: $sideWidth;
    top: $navHeight;
    bottom: 0;
    background: #333;
    > li {
        border-bottom: 1px solid #666;
    }
    a {
        padding: 0.6em;
        color: #FFF;
        display: block;
    }
}

.nav-top {
    top: 16px;
    right: 20px;
    position: absolute;
}

.oauth_icon {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/oauth_icon.png);
}

.fb_icon {
    width: 24px;
    height: 24px;
    background-position: -1px -1px
}

.google_icon {
    width: 24px;
    height: 24px;
    background-position: -27px -1px
}

.twitter_icon {
    width: 24px;
    height: 24px;
    background-position: -53px -1px
}

.nav-btn {
    // @include background-image(linear-gradient(top, #337ab7 0, #265a88 100%));
    background: transparent;
    color: #FFF;
    &:focus, &:active:focus{
         outline: 0 none;
         box-shadow: none;
         color:#FFF;
    }
    &:hover {
        //  @include background-image(linear-gradient(top, #333333 0, #666666 100%));
        background: #666;
        color: #FFF;
    } 

}



#choice_product {
    /*  > .row {
        padding-bottom: 1em;
    }
    select,
    input,
    button {
        width: 100%;
        display: block;
    }*/
}

#templateView {
    position: relative;
}

#radar {
    .radar-chart {
        padding: 20px;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        display: block;
    }
}


/*
#itemCompare {
    h5 {
        margin-bottom: 2em;
    }
    .small_radar {
        .radar-chart {
            padding: 10px;
            width: 170px;
            height: 170px;
            margin: 0 auto;
            display: block;
            margin-top: -20px;
        }
    }
    #compare_radar {
        .radar-chart {
            padding: 20px;
            width: 370px;
            height: 400px;
            margin: 0 auto;
            display: block;
        }
    }
    .selectedItem {
        margin-bottom: 2em;
        overflow: hidden;
    }
}
*/

#product_list {
    li {
        margin-bottom: 0.5em;
        i {
            display: none;
        }
    }
    img {
        width: 100%;
        display: block;
        margin-bottom: 0.5em;
        cursor: pointer;
    }
    h5 {
        //   width: 100%;
        height: 2em;
        overflow: hidden;
    }
    .no_img {
        display: block;
        width: 130px;
        height: 130px;
        margin-bottom: 0.5em;
    }
    .selectOn {
        .imgArea {
            position: relative;
            &.hasSelected {
                > img {
                    border: 3px solid green;
                }
                > i {
                    color: green;
                }
            }
            > i {
                position: absolute;
                z-index: 999;
                bottom: 10px;
                right: 25px;
                display: block;
                color: #aaa;
            }
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show_inline {
    display: inline-block;
}

.w80 {
    width: 80px !important;
    display: inline-block !important;
}

.shortField {
    width: 17% !important;
    display: inline-block !important;
}

button > .fa {
    //   margin-right: 0.4em;
}

.germany {
    display: block;
}

.germanyss {
    display: none;
}

.highlightedText {
    background: yellow;
}

#popup_search {
    width: 100%;
    padding: 15px;
    position: absolute;
    z-index: 999;
    background: #FFF;
    @include border-radius(25px);
    @include box-shadow(rgba(blue, 0.2) 0 0 25px);
    min-height: 630px;
}

//cards
#thumb_img {
    width: 195px;
    height: 195px;
    overflow: hidden;
    position: relative;
    > img {
        position: absolute;
    }
}


/*
.thumbGroup {
    clear: both;
    position: relative;
    > div {
       position: absolute;
        bottom: 5px;
        left: 330px;
    }
}
*/

.thumbImg {
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid #999;
    margin-bottom: 0.5em;
}

.thumbEditArea {
    position: relative;
    .editPopup {
        position: absolute;
        top: 0px;
        left: -370px;
    }
}

#msg {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    > p {
        margin: 0;
        padding: 0.5em 1em;
    }
}

.zipper.ng-enter {
    transition: 0.5s ease-in all;
    opacity: 0;
    transform: translate(100%, 0);
}

.zipper.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translate(0, 0);
}

.zipper.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.zipper.ng-leave.ng-leave-active {
    opacity: 0;
}

.popup {
    @include border-radius(25px);
    @include box-shadow(rgba(blue, 0.2) 0 0 25px);
    background: #FFF;
    padding: 1em;
    position: absolute;
}

#abilityStatusArea {
    width: 200px;
}

.abilityIcon {
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
    @include opacity(0.5);
    &.active {
        @include opacity(1);
    }
}

#ability_popup {
    width: 300px;
    top: 0;
    left: -200px;
    .abilityArea {
        width: 90%;
        height: 70%;
        margin: 0 auto;
    }
}

#compareSearchArea {
    position: relative;
    > .flag {
        position: absolute;
        right: 0;
        top: 0;
        @include opacity(0.3);
    }
}

.compareSearchImg {
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 260px;
    height: 60px;
    > i {
        font-size: 1.5em;
        color: #FFF;
        position: absolute;
        right: 5px;
        top: 5px;
        text-shadow: 2px 2px 8px #333;
    }
}

.compareSearchList {}

#compareSelectedItem {
    > li {
        position: relative;
        margin-bottom: 1em;
    }
    h3 {
        margin: 0;
    }
    i {
        position: absolute;
        font-size: 2em;
        color: #F00;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

.small_radar {
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: -20px;
}

.selectedItem {
    h4 {
        margin: 5px 0;
    }
}

#lightBox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    z-index: 5433;
    > .overlay {
        background: url(../images/overlay.png);
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
    }
    > .popup {
        z-index: 20;
        position: absolute;
    }
}

.lightBoxFixed {
    overflow: hidden !important;
}


/* lock scroll

body {
   
}

*/

.compareBtnGroup {
    text {
        @include user-select("none");
    }
    > g {
        cursor: pointer;
    }
}
