<div class="row">
    <!-- search area -->
    <div class='col-xs-4' style="position:relative" ng-controller="search_controller as search">
        <div ng-include="'template/search_area.html'"></div>
        <div ng-include="'template/search_result.html'"></div>
    </div>
    <!-- data area -->
    <div class='col-xs-8'>
        <form name="cardForm" novalidate>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <div ng-show="cardFrom.$drity">no</div>
                    {{cards.cardStatusText}}
                    <button class="btn btn-primary" ng-click="cards.editCard.createNew()">Create New</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <!-- main title -->
                    <div class="form-group">
                        <input type="text" ng-model="cards.editCard.primaryCard.title" class="form-control">
                    </div>
                    <!-- series select -->
                    <div class="form-group">
                        <div>
                            <select ng-model="cards.editCard.primaryCard.series" ng-options="sel._id as sel.title for sel in cards.c.series" class="form-control">
                                <option value="">-series-</option>
                            </select>
                        </div>
                    </div>
                    <!-- faction select -->
                    <div class="form-group">
                        <select ng-model="cards.editCard.primaryCard.faction" ng-options="sel._id as sel.title for sel in cards.c.faction  | filter: {parent: cards.editCard.primaryCard.series} | orderBy:'order'" class="form-control">
                            <option value="">-faction-</option>
                        </select>
                    </div>
                    <!-- category select -->
                    <div class="form-group">
                        <select ng-model="cards.editCard.primaryCard.category" ng-options="sel._id as sel.title for sel in cards.c['cardCategory']  | filter: {relation: cards.editCard.primaryCard.series} | orderBy:'order'" class="form-control">
                            <option value="">-category-</option>
                        </select>
                    </div>
                    <!-- primary card value -->
                    <div class="form-group form-inline">
                        <label class="shortField">COST:</label>
                        <input type="number" min="0" class="form-control w80" ng-model="cards.editCard.primaryCard.pc.min.cost" placeholder="cost"> /
                        <input type="number" min="0" class="form-control w80" ng-model="cards.editCard.primaryCard.pc.min.people" placeholder="people"> (min)
                    </div>
                    <div class="form-group form-inline">
                        <label class="shortField"></label>
                        <input type="number" min="0" class="form-control w80" ng-model="cards.editCard.primaryCard.pc.max.cost" placeholder="cost"> /
                        <input type="number" min="0" class="form-control w80" ng-model="cards.editCard.primaryCard.pc.max.people" placeholder="people"> (max)
                    </div>
                    <div class="form-group form-inline">
                        <label class="shortField">FA:</label>
                        <select class="form-control" ng-model="cards.editCard.primaryCard.fa.info" ng-options="fa.brief as fa.title for fa in cards.editCard.fa">
                            <option value="">--</option>
                        </select>
                        <input type="number" min="0" class="form-control w80" ng-if="cards.editCard.primaryCard.fa.info=='n'" ng-model="cards.editCard.primaryCard.fa.num">
                    </div>
                    <div class="form-group form-inline">
                        <label class="shortField">WJ/WB:</label>
                        <input type="number" min="0" class="form-control w80" ng-model="cards.editCard.primaryCard.wj">
                    </div>
                </div>
                <div class="col-xs-6">
                    <!-- main image -->
                    <div class="form-group thumbGroup" ng-show="cards.thumbImg">
                        <img ng-src="{{cards.thumbImg}}" alt="" style="width:100%;" ng-if="cards.thumbImg">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" custom-on-change="uploadFile" thumb-img="cards.thumbImg" img-file="cards.imgFile">
                    </div>
                </div>
            </div>
            <hr>
            <!-- actors status -->
            <div ng-repeat="actor in cards.editCard.primaryCard.actor">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- actors title -->
                        <div class="form-group form-inline">
                            <label class="shortField">Title:</label>
                            <input type="text" class="form-control" ng-model="actor.title" name='title' >                            
                        </div>
                        <label for="" ng-repeat-start="(key,value) in cards.statusAvgService.cardStatusFields" class="shortField">{{value | uppercase}}:</label>
                        <input type="number" min="0" class="form-control w80" ng-model="actor.status[value]">
                        <hr ng-repeat-end ng-if="($index+1)%2==0  || $last" />
                    </div>
                    <div class="col-xs-6">
                        <!-- actors thumb -->                     
                        <div class="thumbEditArea pull-left" thumb-images="cards.thumbImg" idx="{{$index}}" current-actor="actor"></div>
                        <div class="pull-right" id='abilityStatusArea' ability-edit="cards.ability" current-actor="actor"></div>
                         <div class='clearfix'></div>
                        <hr>

                    </div>
                </div>
                <div class="form-group form-inline" ng-if="$index!=0">
                    <button class="btn btn-danger pull-right" ng-click="cards.editCard.removeActor(actor.$$hashKey)">Remove actor</button>
                    <br clear="all">
                </div>
            </div>
            <div class="form-group form-inline ">
                <button class="btn btn-primary" ng-click="cards.editCard.addActor()">Add actor</button>
            </div>
            <div class="form-group form-inline">
                <button class="btn btn-primary pull-right" ng-click="cards.editCard.save()" ng-disabled="cards.submitBtnDisabled">SAVE</button>
            </div>
        </form>
    </div>
</div>
