<div class="col-xs-6">
	<table class="table">
		<thead>
			<tr>
				<td></td>
				<td ng-repeat="(key,val) in dbData.statusAvg.data[0].value">{{key | uppercase}}</td>
			
			</tr>
		</thead>
		<tbody>			
			<tr ng-repeat= "val in  dbData.statusAvg.data">
				<td>{{val._id | uppercase}}</td>
				<td ng-repeat = "value in val.value">{{value}}</td>			
			</tr>
		</tbody>
	</table>
	<button ng-click='dbData.statusAvg.updateData()' class="btn btn-primary">Update</button>
</div>
<div class="col-xs-6">&nbsp;</div>
