
<div detail-status>
    <div class="form-group form-inline">
        <label for="">SPD:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.spd}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.spd">
        <label for="">STR:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.str}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.str">
        <label for="">MAT:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.mat}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.mat">
    </div>
<hr>
    <div class="form-group form-inline">
        <label for="">RAT:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.rat}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.rat">
        <label for="">DEF:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.def}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.def">
        <label for="">ARM:</label>
        <span class="{{editCtrl.numShow}} w80">{{currentProduct.status.arm}}</span>
        <input type="number" min="0" class="form-control {{editCtrl.inputShow}} w80" ng-model="editCtrl.currentStatus.arm">
    </div>

    <div class="form-group form-inline">
        <button ng-click="editCtrl.editStatus(currentProduct.status);" class="btn btn-primary">{{editCtrl.editBtnText}}</button>
        <button ng-click="saveStatus();" class="btn btn-primary {{editCtrl.saveBtnShow}}">Save</button>
    </div>
    <p class="text-success">Save complete</p>
</div>
