<ul id="product_list">
    <li class='{{itemDisplay.row}} {{itemSelect.selectClass}}' ng-repeat='value in itemSearch.returnArmy' item-select _id='{{value._id}}'>
        <div class="row">
            <div class='{{itemDisplay.img}} imgArea  {{value.hasSelect}}'>
                <img ng-src='images/army/thumb/{{value.image_name}}' imageonload>
                <i class='fa {{value.icon}} fa-2x'></i>
            </div>
            <h4 class='{{itemDisplay.title}}'>{{value.title}}</h4>
        </div>
    </li>
</ul>
