<div id="popup_search" ng-if="lists.searchBtn.open" ng-controller = "search_controller as search">
    <div class="col-xs-4" ng-include="'template/search_area.html'">
    </div>
    <div class='col-xs-5' ng-include="'template/search_result.html'">
    </div>
</div>
<button class="btn" ng-click="lists.searchBtn.trigger()">{{lists.searchBtn.text}}</button>


<div class="row">
    <div class='row' id="itemCompare">
        <div class="selectedItem">
            <div class='col-xs-4' ng-repeat='val in lists.selected'>
                <h5>{{val.title}}</h5>
                <div class='imgArea pull-left'>
                    <img ng-src='images/army/thumb/{{val.image_name}}' imageonload>
                </div>
                <div small-radar status="val.status" class="pull-left small_radar"></div>
            </div>
        </div>
        <hr style="clear:both">
        <div id="compareArea">
            <div class='col-xs-7'>
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td ng-repeat='val in lists.selected'>{{val.title}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='(_key,_val) in lists.statusAvg.simple_data'>
                            <td>{{_key | uppercase}}</td>
                            <td ng-repeat='val in lists.selected'>{{val.status[_key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-xs-5'>
                <div compare-radar id="compare_radar" selected="lists.selected"></div>
            </div>
        </div>
    </div>
</div>
