
<div class="form-group btn-group ">
    <button class="btn btn-primary" ng-click="search.changeSearchtType('products')" ng-class="search.cssActive(search.activeSearchBtn)">Procuts</button>
    <button class="btn btn-primary" ng-click="search.changeSearchtType('cards')" ng-class="search.cssActive(!search.activeSearchBtn)">Cards</button>
</div>
<div class="form-group">
    <div>
        <select ng-model="search.selectGroup.series" ng-options="sel._id as sel.title for sel in search.c.series" class="form-control">
            <option value="">-series-</option>
        </select>
    </div>
</div>
<div class="form-group">
    <select ng-model="search.selectGroup.faction" ng-options="sel._id as sel.title for sel in search.c.faction | filter: {parent: search.selectGroup.series} | orderBy:'order'" class="form-control">
        <option value="">-faction-</option>
    </select>
</div>
<div class="form-group">
    <select ng-model="search.selectGroup.category" ng-options=" sel._id as sel.title for sel in search.c[searchType]  | filter: {relation: search.selectGroup.series} | orderBy:'order'" class="form-control">
        <option value="">-category-</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" ng-model="search.selectGroup.keyword" placeholder="keyword">
</div>
<div class="form-group">
    <span>keyword logic disjunction:</span>
    <label>
        <input type="radio" ng-model="search.selectGroup.keywordLogic" value="and"> AND
    </label>
    <label>
        <input type="radio" ng-model="search.selectGroup.keywordLogic" value="or"> OR
    </label>
</div>
<div class="form-group">
    <div ng-repeat="ability in search.ability.character" class='sprite {{ability.cssClass}} abilityIcon' ng-click='search.abilityModify(ability._id)' ng-class='search.ablityActive(ability._id)'></div>
</div>

<div class="form-group form-inline">
    <button ng-click="search.search(true)" class="btn btn-primary "><i class="fa fa-search"></i>search</button>
    <button ng-click="search.clear()" class="btn btn-primary ">
        </i>clear</button>
</div>
