
<div class="form-group">
    <div>
      <select ng-model="product.search.selectGroup.series.default_value" ng-change="product.search.seriesSelect(mCtrl.category.category)" ng-options="sel.title for sel in  mCtrl.category.category.series track by sel._id" class="form-control">
          <option value="">-series-</option>
      </select>
    </div>
</div>
<div class="form-group">
    <select ng-model="product.search.selectGroup.faction.default_value" ng-options="sel.title for sel in product.search.selectGroup.faction.data track by sel._id" class="form-control">
        <option value="">-faction-</option>
    </select>
</div>
<div class="form-group">
    <select ng-model="product.search.selectGroup.category.default_value" ng-options="sel.title for sel in product.search.selectGroup.category.data track by sel._id" class="form-control">
        <option value="">-category-</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" ng-model="product.search.keyword.default_value" placeholder="keyword">
</div>
<div class="form-group form-inline">
    <button ng-click="product.search.clear()" class="btn btn-primary ">
        </i>clear</button>
    <button ng-click="product.search.search(true)" class="btn btn-primary "><i class="fa fa-search"></i>search</button>
</div>
<!--
<div class="form-group form-inline">
     <button ng-click="dataDisplayBtn.changeType('imgList')" ng-disabled="dataDisplayBtn.displayBtn.imgList" class="btn btn-primary">img list</button>
     <button ng-click="dataDisplayBtn.changeType('dataList')" ng-disabled="dataDisplayBtn.displayBtn.dataList" class="btn btn-primary">data list</button>
     <br clear="all">
</div>

<div class="form-group form-inline">
      <button ng-click="itemSelect.selectTrigger()" ng-disabled="itemSelect.selectDisable" class="btn btn-primary btn-block">{{itemSelect.selectText}}</button>
</div>
-->

