<div class="form-group">
    <select ng-model="itemSearch.selectGroup.series.default_value" ng-change="itemSearch.seriesSelect()" ng-options="sel.title for sel in itemSearch.selectGroup.series.data track by sel._id" class="form-control">
        <option value="">-series-</option>
    </select>
</div>
<div class="form-group">
    <select ng-model="itemSearch.selectGroup.faction.default_value" ng-options="sel.title for sel in itemSearch.selectGroup.faction.data track by sel._id" class="form-control">
        <option value="">-faction-</option>
    </select>
</div>
<div class="form-group">
    <select ng-model="itemSearch.selectGroup.category.default_value" ng-options="sel.title for sel in itemSearch.selectGroup.category.data track by sel._id" class="form-control">
        <option value="">-category-</option>
    </select>
</div>
<div class="form-group form-inline">
    <input type="text" class="form-control" ng-model="itemSearch.keyword.default_value" placeholder="keyword">
    <button ng-click="itemSearch.search(true)" class="btn btn-primary pull-right"><i class="fa fa-search"></i>search</button>
</div>

<div class="form-group form-inline">
     <button ng-click="dataDisplayBtn.changeType('imgList')" ng-disabled="dataDisplayBtn.displayBtn.imgList" class="btn btn-primary">img list</button>
     <button ng-click="dataDisplayBtn.changeType('dataList')" ng-disabled="dataDisplayBtn.displayBtn.dataList" class="btn btn-primary">data list</button>
     <br clear="all">
</div>

<div class="form-group form-inline">
      <button ng-click="itemSelect.selectTrigger()" ng-disabled="itemSelect.selectDisable" class="btn btn-primary btn-block">{{itemSelect.selectText}}</button>
</div>
